[Unit]
Description=JupyterLab Server
After=network.target

[Service]
Type=simple
ExecStart=~/.jupyterlab/start_jupyterlab.sh 
Restart=on-failure
WorkingDirectory=/

[Install]
WantedBy=default.target