[Unit]
Description=JupyterLab Server
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash %h/.jupyterlab/start_jupyterlab.sh 
Restart=on-failure
WorkingDirectory=/

[Install]
WantedBy=default.target
